<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <!-- https://www.w3schools.com/bootstrap4/bootstrap_carousel.asp -->
    <div id="demo" class="carousel slide container" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/home.jpg" alt="Home1">
            <div class="carousel-caption">
                <h3>Homes</h3>
                <p>Find your dream house today!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/home2.jpg" alt="Home2">
            <div class="carousel-caption">
                <h3>Townhouses</h3>
                <p>Modern and affordable living spaces</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/home3.jpg" alt="Home3">
            <div class="carousel-caption">
                <h3>Apartments</h3>
                <p>Luxury penthouses and condos</p>
            </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    <div id="latest-listings">
        <h2>Latest Listings</h2>
        <%if (typeof latestLocations !== 'undefined' && typeof latestListings !== 'undefined') {%> 
            <ul id="listings">
                <% for (var i=0; i < latestListings.length;  i++ ) { %>
                    <li class= "latest-listing">
                        <a href="/listing/homes/<%=latestListings[i].listingid%>">
                            <div>
                                Title: <%=latestListings[i].title%>
                            </div>
                            <div>
                                Location: 
                                <%=latestLocations[i].city%>,
                                <%=latestLocations[i].province_state%>,
                                <%=latestLocations[i].country%>
                            </div>
                            <div>
                                Price: <%=latestListings[i].price%>
                            </div>
                        </a>
                        <br>
                    </li>
                <% } %>
            </ul>
        <%}%>
    </div>

	
</body>
</html>