<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
    <title>Profile</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <div class = "login-form">
            <h1>User Profile</h1>
            <div class ="flex-center">
                <label>Username: <%= username %></label>
            </div>
            <div class ="flex-center">
                <label>Email: <%= email %></label>
            </div>
            <div class ="flex-center">
                <label>Phone: <%= phone %></label>
            </div>
            <div class ="flex-center">
                <label>Full Name: <%= full_name %></label>
            </div>
            <div class ="flex-center">
                <label>Role: <%= role %></label>
            </div>
            <div class = "link-container3">
                <a href="/filter/owned-listings">View your listings</a>
            </div>
            <div class = "link-container3">
                <a href="/edit-profile">Click to Edit Profile</a>
            </div>
        </div>
    </div>
</body>
</html>